*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
                    url('images/chicago-loop.jpg');
  color: #ECF0F1;
  font-family: 'Lato', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  font-size: 18px;
  margin: 0 auto;
  padding: 10% 0;
  width: 90%;
}

a {
  color: #ECF0F1;
  text-decoration: none;
}

h1, h2, h3, p {
  margin: 0;
}

.information, .content {
  align-content: space-around;
  padding: 2rem 0 1.5rem;
}

.information {
  border: 2px solid;
  border-right: none;
  margin-right: 2rem;
  padding-left: 3rem;
}

.content {
  border-top: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  text-align: right;
  margin-left: 2rem;
  padding-right: 3rem;
}

.information h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  padding: 0;
  font-weight: 300;
}

.information p {
  font-size: 1.5rem;
  font-weight: 300;
}

.contact-icons {
  padding-top: 1rem;
}

.contact-icons a {
  color: #ECF0F1;
  margin-right: 10%;
}

.content p {
  font-weight: 300;
}

.content .projects-heading {
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.project p {
  font-size: 1.3rem;
  line-height: 1.5;
  margin-bottom: 1rem;
}

.project a:hover {
  text-decoration: underline;
}
