/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Micro clear-fix */
.group:before,
.group:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.group:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.group {
    *zoom: 1;
}

/*
 ========================================
 Grid
 ========================================
*/

.col-1-3,
.col-2-3 {
  float: left;
}

.col-1-3 {
  width: 33.333%;
}

.col-2-3 {
  width: 66.666%;
}

/*
 ========================================
 Base styles
 ========================================
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  color: #EFEBE9;
  background-color: #FFF176;
  font-family: 'Lato', Helvetica, 'Helvetica Neue', Arial, sans-serif;
  margin: 0 auto;
}

a {
  color: #EFEBE9;
}

a:hover {
  color: #263238;
}

/*
 ==============================
 Primary header
 ================================
*/

/*title*/
.primary-header {
  background-color: #263238;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
}

.primary-header h1 {
  font-size: 1.5em;
}

/*icons*/
.contact-icons {
  display: flex;
  justify-content: space-between;
}

.contact-icons a {
  color: #EFEBE9;
  flex: 1;
  font-size: 1.5em;
  vertical-align: middle;
}

/*
 ==============================
 Projects section
 ================================
*/

.projects {
  max-width: 80%;
  margin: 0 auto;
}

.projects > header {
  background-color: #3178A3;
  margin-top: 5.5em;
}
.projects > header h1 {
  font-size: 2em;
  padding: 1em 1em 1em 2.75rem;
}

/*
 ==============================
 Individual project section
 ================================
*/

.project {
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 2em 3em 1em;
}

.project header h1 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

.project h2 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

.project p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.25em;
}

/*pi-fi*/
.project.pifi .overview ul {
  margin-bottom: 1em;
  margin-top: 0.75em;
}

.project.pifi .overview ul li {
  margin-bottom: 0.75em;
}

.project.pifi {
  background-color: #F07054;
}

/*aptamigo*/
.project.aptamigo {
  background-color: #3178A3;
  margin-bottom: 0;
}

/*
 ==============================
 Primary footer
 ================================
*/

footer {
  padding: 1em
}

footer p {
  color: #263238;
  word-spacing: 1px;
  text-align: center;
}

/*
 ==============================
 Responsive stuff
 ================================
*/
@media and screen(min-width: 424px) {
  .contact-icons a {
    font-size: 3em;
  }
}

