*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
                    url('../images/chicago-loop.jpg');
  color: #ECF0F1;
  font-family: 'Lato', Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
